/* General Style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Smythe', cursive;
  background-color: gray;
}

/* ------ */

.app-container {
  border: 1px solid green;
  width: 600px;
  height: 1160px;
  margin: 0 auto;
  background-color: white;
}

/* Header */

.header {
  color: white;
  height: 170px;
  background-image: url("img/img.png");
  padding: 46px;
}

.header-title {
  margin: 0;
  font-size: 39px;
  line-height: 24px;
}

.header-subtitle {
  margin-top: 20px;
  font-size: 22px;
  line-height: 14px;
}


/* Main Item Section */

.item-menu {
  width: 510px;
  margin: 0 auto;
  padding-top: 35px;
}

.item-container {
  /* didnt create a container so ill just use margin and center */
  margin: 0 auto;
  width: 508px;
  height: 140px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 45px;
}

.item-emoji {
  display: flex;
  width: 70px;
  height: 80px;
  font-size: 45px;
}

.item-info { 
  margin: 0;
}

.item-name,
.item-desc,
.item-price {
  margin: 10px 0;
  font-weight: inherit;
}

.item-name {
  font-size: 28px;
  line-height: 17px;
  color: #000;
}

.item-desc {
  font-size: 16px;
  line-height: 17px;
  color: #8B8B8B;
}

.item-price {
  font-size: 20px;
  line-height: 24px;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.5px solid #DEDEDE;
  font-size: 20px;
  margin-left: auto;
}

/* Order Menu Section */
.order-menu {
  height: 320px;
  text-align: center;
  margin: 0 auto;
  width: 508px;
}

.order-item-container {
  height: 180px;
}

.order-flex {
  display: flex;
  gap: 10px;
}

.order-flex p {
  margin-top: 10px;
}

.order-item {
  font-size: 20px;
  line-height: 17px;
}

.remove-btn {
  border: none;
  font-size: 12px;
  color: #BBBBBB;
  background: white;
}

.order-price {
  font-size: 20px;
  line-height: 24px;
  margin-left: auto;
}

/* total price section */
.div-total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.total-price-text {
  font-size: 28px;
  line-height: 24px;
  margin-top: 15px;
}

.order-btn {
  background: #16DB99;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: none;
  padding: 20px;
  width: 100%;
  color: white;
  font-weight: 700;
  margin-top: 18px;
}

/* Payment Modal */


/* Need to skip this project because it's too hard for me */